body {
    font-family: arial, sans-serif;
    margin:0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.contenedor{
    position: fixed;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
}

.login-box{
    width: 300px;
    padding: 20px;
    border: 1px solid #ccc;
    background-color: #fff;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.login-box h2{
    text-align: center;
    margin-bottom: 20px;
}